@charset "utf-8";
/* CSS Document */
.wrap{ width:640px; margin:0 auto; overflow:hidden;}
.topBar{ width:236px; height:88px; padding:12px 0px 0px 404px; background:url(../images/topBar.jpg) no-repeat; position:fixed; left:50%; margin: 0px 0px 0px -320px; z-index:9999;}
.topBar a{ display:block; width:222px; height:82px; background:url(../images/topBarBtn.jpg) no-repeat;}
.nav{ width:640px; height:215px; background:url(../images/nav.jpg) no-repeat;}
.nav ul { padding:100px 0px 0px 247px;}
.nav ul li{ float:left;}
.nav ul li a{ display:block; height:81px;}
.nav ul li a.index{ width:102px; background:url(../images/btn_nav.jpg) no-repeat; margin-right:21px;}
.nav ul li a.news{ width:107px; background:url(../images/btn_nav.jpg) -123px 0px; margin-right:21px;}
.nav ul li a.data{ width:102px; background:url(../images/btn_nav.jpg) -250px 0px;}

.header{ width:640px; height:653px; background:url(../images/banner.jpg) no-repeat; position:relative;}
.header a{ display:block; position:absolute;}
.header a.btn_enter{ width:114px; height:45px; background:url(../images/btn_enter.png) no-repeat; left:393px; top:507px;}
.header a.btn_app{ width:206px; height:69px; background:url(../images/btn_app.png) no-repeat; top:568px; left:0px;}
.header a.btn_and{ width:206px; height:69px; background:url(../images/btn_and.png) no-repeat; top:568px; left:221px;}
.header a.btn_ios{ width:198px; height:69px; background:url(../images/btn_ios.png) no-repeat; top:567px; left:441px;}

.sliderBg{ width:617px; height:300px; background:url(../images/sliderBg.jpg) no-repeat; padding:39px 0px 0px 23px;}
.main_visual{height:339px;overflow:hidden;position:relative;}
.main_image{width:604px;height:339px;overflow:hidden;position:absolute;}
.main_image ul{width:9999px;height:510px;overflow:hidden;position:absolute;top:0px;left:0px}
.main_image li{float:left;width:494px;height:510px;}
.main_image li a{display:block;width:100%;height:276px}
.mod_news{ width:640px; height:496px; background:url(../images/news.jpg) no-repeat;}

.main_visual2{ height:496px;overflow:hidden;position:relative;}
.main_image2{width:640px;height:496px;overflow:hidden;position:absolute; top:91px; left:50%; margin-left:-320px;}
.main_image2 ul{overflow:hidden;position:absolute;}
.newsCon{}
.newsCon h2{ height:35px; text-align:center;}
.newsCon h2 a{ font-size:30px; color:#7c2017; font-family:"MicroSoft YaHei";}
.newsCon ul{ padding-left:5px;}
.newsCon li{ width:630px; height:70px; margin:0 auto; color:#3b465a; line-height:70px; font-family:"MicroSoft YaHei"; font-size:25px; border-bottom:1px dashed #3b465a;}
.newsCon li span{ margin-right:5px;}
.newsCon li span.time{ float:right; margin-left:5px;}
.newsCon li a{ color:#3b465a;}

.videoBg{ width:620px; height:301px; background:url(../images/videoBg.jpg) no-repeat; padding:23px 0px 0px 20px;}
#myVideo{ width:600px; height:260px;}

div.flicking_con2{position:absolute; top:0px;z-index:999;width:640px;height:71px; left:50%; margin-left:-320px; z-index:999;}
div.flicking_con2 a{ display:block; height:71px; overflow:hidden; float:left;display:inline;} 
div.flicking_con2 a.a0{ width:144px; background:url(../images/mod3TabNav.png) no-repeat 0px 0px; margin-right:21px;}
div.flicking_con2 a.a1{ width:148px; background:url(../images/mod3TabNav.png) no-repeat -168px 0px; margin-right:14px;}
div.flicking_con2 a.a2{ width:148px; background:url(../images/mod3TabNav.png) no-repeat -331px 0px; margin-right:15px;}
div.flicking_con2 a.a3{ width:146px; background:url(../images/mod3TabNav.png) no-repeat -494px 0px;}
div.flicking_con2 a.active0{background:url(../images/mod3TabNav.png) no-repeat 0px -73px;}
div.flicking_con2 a.active1{background:url(../images/mod3TabNav.png) no-repeat -168px -73px;}
div.flicking_con2 a.active2{background:url(../images/mod3TabNav.png) no-repeat -331px -73px;}
div.flicking_con2 a.active3{background:url(../images/mod3TabNav.png) no-repeat -494px -73px;}


.footer{ width:625px; background:url(../images/footerBg.jpg) repeat-x; height:83px; padding:15px 10px 0px 5px;}
.footer_p{background:url(/static/image/index/pro_new_footer_11.png) repeat center 0;height: 70px;padding: 14px 0;}
.footer_logo{width:100px;text-align: center; }
.footer_logo a{ display:block; width:101px; height:71px; margin:0 auto;}
.footer_wx{width: 75px;padding-left: 30px;border-left: 1px solid #000;}
.footer_wb{width: 85px;margin-left: 30px;}
.copyright{width: 325px;text-align: right;line-height: 20px;}
